@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
html, body { height: 100%; }

body{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
*{
  font-family: 'poppins',sans-serif;
}

:root{
  --colora:red;
  --font:6.4rem;
  --fonta: 3.5rem;
  --fontb: 2.3rem;
  --fontbc:1.6rem;
  --fontc:1.2rem;
  --fontd:0.8rem;
}
.main{
  width: 100vw;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/2.gif');
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.8s; 
}
.main2{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_h1_1{
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: var(--fontb);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}
.main_h1{
  text-transform: uppercase;
  font-size: var(--fonta);
  margin: 0;
  padding: 0;
  color: white;
  -webkit-text-stroke: 2px black;
  letter-spacing: 2px;
}
.main2 button{
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  transition: 0.5s;

}
.btn{
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  transition: 0.5s;
}
.btn:hover,.main2 button:hover{
  background-color: white;
  color: black;
}
.holder{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url('./assets/1.jpg'); */
  position: relative;
  animation: changeBackground 20s infinite alternate;
}
@keyframes changeBackground {
  0% {
    background-image: url('./assets/1.jpg');
  }
  50%{
    background-image: url('./assets/2.jpg');
  }
  100%{
    background-image: url('./assets/3.jpg');
  }

}
.holder1,.holder2{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 70vh;
  width: 70vw;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 1s;
}
.holder2_h{
 margin: 0%;
 padding: 0%;
}
.holder2 form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.holder2 form div{
  margin: 0;
  padding: 0%;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  height: 100%;
  width: 60%;
  gap: 15px;
  margin: 0 auto;
  overflow: hidden;
}
.holder2 form div input{
  width: 210px;
  height: 50px;
  border-radius: 0 25px 0 25px;
  /* padding: 10px 5%; */
  padding-left: 5%;
}
.bar{
  width: 350px;
  background-color: black;
  height: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.bar2{
  height: 4px;
  background-color: brown;
}